# Datalake data (to avoid uploading large/private datasets)
# Ignorar datos
datalake/raw/clinical/*
datalake/raw/genomics/*
datalake/raw/images/*
datalake/cleanse/clinical/*
datalake/cleanse/genomics/*
datalake/cleanse/images_meta/*
datalake/curated/clinical/*
datalake/curated/genomics/*
datalake/curated/images/*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Logs
logs/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Models
models/
